/* General styling for the About section */
.about {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0;
  padding: 0 20px;
}

.about .about-content {
  display: flex;
  flex-direction: column;
  margin-top: -80px;
  row-gap: 50px;
  margin-left: 30px;
}

h1 {
  font-size: 40px;
  font-family: "Agbalumo", system-ui;
  background: linear-gradient(#c86c02, #fdc746);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about .about-content p {
  width: 80%;
  font-size: 25px;
  font-weight: 500;
  color: #322d2d;
  font-family: "Akatab", sans-serif;
}

.about img {
  height: 1000px;
  width: auto;
  margin-right: 30px;
  margin-top: -180px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .about {
    margin-top: 80px;
    flex-direction: column;
    text-align: center;
  }

  .about .about-content {
    margin-left: 0;
    row-gap: 20px;
  }

  h1 {
    font-size: 30px;
  }

  .about .about-content p {
    font-size: 18px;
    width: 100%;
  }

  .about img {
    height: 400px;
    width: 400px;
    margin-top: 20px;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 28px;
  }

  .about .about-content p {
    font-size: 16px;
  }

  .about img {
    height: 300px;
    width: 300px;
  }
}
