.category-section {
  padding: 30px 20px;
}

.section-title {
  font-family: "Agbalumo", system-ui;
  font-size: 30px;
  background: linear-gradient(#c86c02, #fdc746);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
  text-align: center;
}

.category-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  cursor: pointer;
}

.category-card {
  background: #c86c02;
  color: white;
  width: 250px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  text-align: center;
  font-family: "Afacad", sans-serif;
  box-shadow: 0 8px 16px rgba(132, 139, 200, 0.2);
  transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

.category-card:hover {
  transform: scale(1.05);
  background-color: #322d2d;
}

.category-link {
  text-decoration: none;
  color: white;
}

@media (max-width: 768px) {
  .section-title {
    font-size: 24px;
  }

  .category-card {
    width: 100%;
    height: 120px;
  }
}

@media (max-width: 576px) {
  .section-title {
    font-size: 20px;
  }

  .category-card {
    height: 100px;
  }
}
