.category-section {
  /* margin-bottom: 150px; */
  padding: 30px 50px;
}

.section-title {
  font-family: "Agbalumo", system-ui;
  font-size: 30px;
  background: linear-gradient(#c86c02, #fdc746);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
}

.category-div {
  /* background-color: #322d2d; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  gap: 15px 70px;
  cursor: pointer;
}

.category-card {
  background: #c86c02;
  color: white;
  width: 275px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  text-align: center;
  font-family: "Afacad", sans-serif;
  box-shadow: 0 32px 48px rgba(132, 139, 200, 0.18);
  transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

.category-card:hover {
  transform: scale(1.05);
  background-color: #322d2d;
}

/* Dark Mode Hover Effect */


/* Media Queries for Responsiveness */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
}

@media (max-width: 768px) {
  .section-title {
    font-size: 24px;
  }

  .category-card {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .section-title {
    font-size: 20px;
  }
}
