.hero {
  font-family: "Agbalumo", sans-serif;
  height: auto;
  padding: 20px 15px;
  text-align: center;
}

.hero-text {
  font-size: 4rem;
  font-weight: bold;
  background: linear-gradient(to bottom, #c86c02, #fdc746);
  -webkit-background-clip: text;
  color: transparent;
}

.hero-text2 {
  font-size: 1.5rem;
  color: #545050;
  margin-bottom: 20px;
  text-align: center;
}

.hero-image {
  max-width: 100%;
  height: auto;
}

.search-bar {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 100%;
  max-width: 500px;
  margin: auto;
}

.search-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(#c86c02, #fdc746);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.search-icon .icon {
  font-size: 24px;
  color: white;
}
.SearchDiv {
  position: relative;
}
.input {
  font-size: 1rem;
  border: none;
  outline: none;
  padding: 10px;
  width: 100%;
  border-radius: 50px;
  background: linear-gradient(#c86c02, #fdc746);
  color: white;
}

.input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.search-res-list {
  position: absolute;
  top: 50px; /* Positions the list right below the search bar */
  left: 80px;
  width: 100%;
  max-width: 500px; /* Match search-bar width */
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 300px;
  overflow-y: auto;
  z-index: 2;
}

.search-res-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.search-res-item:hover {
  background: #f4f4f4;
}

.search-res-img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.search-res-title {
  margin-left: 10px;
  font-size: 14px;
  font-weight: bold;
}

/* Responsive Styles */
@media (max-width: 992px) {
  .hero-text {
    font-size: 3rem;
  }

  .hero-text2 {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .hero-text {
    font-size: 2.5rem;
  }

  .hero-text2 {
    font-size: 1rem;
  }

  .search-bar {
    flex-direction: column;
    gap: 5px;
  }
}

@media (max-width: 480px) {
  .hero-text {
    font-size: 2rem;
  }

  .hero-text2 {
    font-size: 0.9rem;
  }
}
